  
/* .counter {
    font-size: 5rem;
    color: #ff6347;
} */

*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family:"Roboto",sans-serif;
}
/*Home Section*/

.home {
  background-image: url('/images/heroimg.jpg');
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}

.dark-layer{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav i {
  font-size: 30px;
  margin-top: 30px;
  float: right;
  opacity: 0;

}

.nav-logo{
  float: left;
  margin:20px;

}
.nav-logo a {
  text-decoration: none;
  font-weight: 580;
  font-size: 3.5vh;
  color: rgb(255, 48, 91);
}

.nav {
  margin: auto;
  width: 85%;
}

.nav-lists ul{
  list-style-type: none;
  float: right;
  margin-top: 10px;
}
.nav-lists ul li {
  float:left;
  margin: 2vh;
}

.nav-lists ul li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 17px;
  transition: 1s all;
}

.nav-lists ul li a:hover{
  color: rgb(255, 48, 91);
}
.home-content{
  margin-top: 190px;
  text-align: center;
  color: white;
  line-height: 40px;
}
.home-content h1{
  font-family: "Source Sans Pro",sans-serif;
  color: rgb(255, 48, 91);
  font-size: 63px;
  font-weight: 700;
  font-stretch: 100%;
  line-height:77px;
}

.home-content .p-top {
  font-size: 25px;
  font-weight: 500;
  
}
.home-content .p-bottom {
  font-size: 25px;
  font-weight: 100;
  
}

.p-bottom::after{
  content: "";
  animation: title 10s infinite;

}

@keyframes title {
  0%{
    content: '|';
  }
  1%{
    content: 'D|';
  }
  2%{
    content: 'De|';
  }
  3%{
    content: 'Dev|';
  }
  4%{
    content: 'Deve|';
  }
  5%{
    content: 'Devel|';
  }
  6%{
    content: 'Develo|';
  }
  7%{
    content: 'Develop|';
  }
  8%{
    content: 'Develope|';
  }
  9%{
    content: 'Developer|';
  }
  10%{
    content: 'Develope|';
  }
  11%{
    content: 'Develop|';
  }
  12%{
    content: 'Develo|';
  }
  13%{
    content: 'Devel|';
  }
  14%{
    content: 'Deve|';
  }
  15%{
    content: 'Dev|';
  }
  16%{
    content: 'De|';
  }
  17%{
    content: 'D|';
  }
  18%{
    content: '|';
  }
  19%{
    content: '|';
  }
  20%{
    content: 'D|';
  }
  21%{
    content: 'De|';
  }
  22%{
    content: 'Des|';
  }
  23%{
    content: 'Desi|';
  }
  24%{
    content: 'Desig|';
  }
  25%{
    content: 'Design|';
  }
  26%{
    content: 'Designe|';
  }
  27%{
    content: 'Designer|';
  }
  28%{
    content: 'Designer|';
  }
  29%{
    content: 'Designe|';
  }
  30%{
    content: 'Design|';
  }
  31%{
    content: 'Desig|';
  }
  32%{
    content: 'Desi|';
  }
  33%{
    content: 'Des|';
  }
  34%{
    content: 'De|';
  }
  35%{
    content: 'D|';
  }
  36%{
    content: '|';
  }
  37%{
    content: 'D|';
  }
  38%{
    content: 'De|';
  }
  39%{
    content: 'Dev|';
  }
  40%{
    content: 'Deve|';
  }
  41%{
    content: 'Devel|';
  }
  42%{
    content: 'Develo|';
  }
  43%{
    content: 'Develop|';
  }
  44%{
    content: 'Develope|';
  }
  45%{
    content: 'Developer|';
  }
  46%{
    content: 'Develope|';
  }
  47%{
    content: 'Develop|';
  }
  48%{
    content: 'Develo|';
  }
  49%{
    content: 'Devel|';
  }
  50%{
    content: 'Deve|';
  }
  51%{
    content: 'Dev|';
  }
  52%{
    content: 'De|';
  }
  53%{
    content: 'D|';
  }
  54%{
    content: '|';
  }
  55%{
    content: '|';
  }
  56%{
    content: 'D|';
  }
  57%{
    content: 'De|';
  }
  58%{
    content: 'Des|';
  }
  59%{
    content: 'Desi|';
  }
  60%{
    content: 'Desig|';
  }
  61%{
    content: 'Design|';
  }
  62%{
    content: 'Designe|';
  }
  63%{
    content: 'Designer|';
  }
  64%{
    content: 'Designe|';
  }
  65%{
    content: 'Design|';
  }
  66%{
    content: 'Desig|';
  }
  67%{
    content: 'Desi|';
  }
  68%{
    content: 'Des|';
  }
  69%{
    content: 'De|';
  }
  70%{
    content: 'D|';
  }
  71%{
    content: '|';
  }
  72%{
    content: '|';
  }
  73%{
    content: 'D|';
  }
  74%{
    content: 'De|';
  }
  75%{
    content: 'Dev|';
  }
  76%{
    content: 'Deve|';
  }
  77%{
    content: 'Devel|';
  }
  78%{
    content: 'Develo|';
  }
  79%{
    content: 'Develop|';
  }
  80%{
    content: 'Develope|';
  }
  81%{
    content: 'Developer|';
  }
  82%{
    content: 'Develope|';
  }
  83%{
    content: 'Develop|';
  }
  84%{
    content: 'Develo|';
  }
  85%{
    content: 'Devel|';
  }
  86%{
    content: 'Deve|';
  }
  87%{
    content: 'Dev|';
  }
  88%{
    content: 'De|';
  }
  89%{
    content: 'D|';
  }
  90%{
    content: '|';
  }
  91%{
    content: '|';
  }
  92%{
    content: 'D|';
  }
  93%{
    content: 'De|';
  }
  94%{
    content: 'Des|';
  }
  95%{
    content: 'Desi|';
  }
  96%{
    content: 'Desig|';
  }
  97%{
    content: 'Design|';
  }
  98%{
    content: 'Designe|';
  }
  99%{
    content: 'Designer|';
  }
  100%{
    content: 'Designe|';
  }
  
}


/*About Section*/

.about{
  height: 100vh;
}

.about-img{
  float: left;
  margin-top: 100px;
  margin-left: 200px;
  border: 10px solid rgb(117, 116, 116);
  border-radius: 5px;

}

.about-img img{
  width: 100%;
  position: relative;
  top: 20px;
  left: 25px;
}

.about-cap{
  float: right;
  width: 50%;
  margin-top: 100px;
  margin-right: 100px
}

.about-cap h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-cap h2::before{
  content: 'I ';
  color: rgb(255, 48, 91);
}

.about-cap p {
  width: 85%;
  line-height: 30px;
  position: relative;
  padding-bottom: 30px;
}

.about-cap p::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px dashed #000;
}

.list-container ul {
  list-style-type: none;
  padding: 10px 7px;
}


.list-container ul li{
  padding:10px;
}
.label {
  font-weight: 500;
  font-size: 18px;
}

.value {
  color: #7E7E7E;
  font-size: 18px;

}

.list-right{
  float: right;
  margin-right: 150px;
}
.list-left{
  float: left;
}

.btn {
  border-style: none;
  border-radius: 5px;
  background-color: rgb(255, 48, 91);
  padding: 9px 30px 9px 30px;
  margin: 8px;
  transition: 1s all;
}
.btn:hover{
  background-color: rgb(255, 38, 0);
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 17px;
 
}

.btn i {
  font-size: 20px;
}



/*Services Section*/


.services{
  background-color: rgb(241, 241, 241);
  color: rgb(51, 51, 51);
  height: 80vh;
}
.service-cap{
  padding-top: 80px;
}
.middle{
  text-align: center;
}
.service-cap h2{
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.service-cap h2::after, .service-cap h2::before{
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.service-cap h2:before {
  content: "";
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 80px;
}

.service-cap h2:after {
  background-color: #ff305b;
  bottom: 5px;
  height: 1px;
  width: 180px;
}


i {
  color: #ff305b;
  display: block;
  font-size: 36px;
  margin-bottom: 20px;
  transition: 0.7s all;
}

.services-container{
  margin: auto;
  padding: 50px;
  width: 85%;

}
.services-container p {
  width: 90%;
  margin: auto;
  line-height: 30px;
}
h3{
  font-size: 25px;
  margin-bottom: 15px;
}

.service{
  padding-top: 50px;
  padding-bottom: 50px;
  float: left;
  width: 25%;
  transition: 0.7s all;
}

.service:hover{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service:hover i{
  transform: scale(1.2);
}


/*Portfolio section*/

.portfolio{
  height: 150vh;
}

.portfolio-cap{
  padding-top: 100px;
}
.portfolio-cap h2{
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.portfolio-cap h2::after, .portfolio-cap h2::before{
  content: "";
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.portfolio-cap h2:before {
  content: "";
  border-color: #ff305b;
  border-style: solid;
  border-width: 1px 0;
  bottom: 0;
  padding: 4px 0 5px;
  width: 80px;
}

.portfolio-cap h2:after {
  background-color: #ff305b;
  bottom: 5px;
  height: 1px;
  width: 180px;
}




.portfolio-container{
  margin: auto;
  padding-top: 100px;
  width: 90%;

}

.portfolio-img{
  width: 33%;
  float: left;
  margin-bottom: 35px;
}

.portfolio-img img {
  width:95%;
}

.portfolio-list{
  margin:auto;
  padding-top: 50px;
  width: 45%;
}
.portfolio-list ul {
  list-style-type: none;
  
}

.portfolio-list ul a{
  text-decoration: none;
  color: #000;
  transition: 0.5s all;
  font-size: 20px;
}

.portfolio-list ul a:hover{
  color: #ff305b;
}

.portfolio-list ul li {
  float: left;
  margin: 10px;
  padding: 0 20px 0 20px;
}



/*Test Section*/


.test{
  background-color: rgb(241, 241, 241);
  height: 50vh;
}

.testing-container{
  width: 80%;
  margin: auto;
}

.testing{
  float: left;
  margin: 90px;  
}


/*feedback section*/

.feedback{
  height: 90vh;
}

.feedback .portfolio-cap h2 {
  margin-bottom: 50px;
}

.fdback-box{
  width: 60%;
  height: 300px;
  margin: auto;
  background-color: rgb(241, 241, 241);
  overflow: hidden;
  position: relative;
}

.fdback-rotate{
  border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 191px;
  left: -199px;
  position: absolute;

}

.fd-img{
  border-radius: 100%;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
}

.fd-content{
  z-index: 2;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
}

.fd-content h3 {
  font-size: 30px;
  font-weight: 450;
}
h4{
  color: grey;
}
.fd-content h4 i {
  color: grey;
  font-size: 20px;
}

.fd-content p {
  font-size: 18px;
  width: 84%;
  color: #524e4e;
}
.rating{
  margin-top:40px;
}
.rating i{
  font-size: 18px;
  color: gold;
}

/*Blog Section*/

.blog{
  height: 100vh;
  background-color: rgb(241, 241, 241);
}




/*Global clear*/
.clear{
  clear: both;
}